:root{
    --pri:#7fc8ddf5;
    --sec: #8c1611;
    --tri1: #bd0606;
    --tri2: #dd8787;
}

@font-face {
    font-family: aeonik;
    font-weight: 200;
    src: url(./Aeonik-Light.ttf);
}

@font-face {
    font-family: aeonik;
    font-weight: 400;
    src: url(./Aeonik-Bold.ttf);
}

@font-face {
    font-family: aeonik;
    font-weight: 700;
    src: url(./Aeonik-Regular.ttf);
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: aeonik;
}

html,
body{
    height:100%;
    width:100%;
}

#main{
    height: 100%; 
    width:100%;
   
}

nav{
    top: 0;
    left: 0;
    position: fixed;
    background-color: #ed0c0c;
    height: 10%;
    width: 100%;  
    transition: all 0.3s ease-in-out;
    z-index: 0;

}

nav.hide{
    transform: translateY(-100%);
}

section.container{
    height: 100%;
    width: 100%;
    padding: 40px;
    padding-top: 80px;
    padding-left: 20px;
    background-color: var(--pri);
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    align-items: flex-start;
    gap: 30px;
    justify-content: space-between;
    

}
.box {
    height: 400px;
    width: 330px;
    color: white;
    background-color: var(--tri2);
    margin-top: 40px;
    font-size: 15px;
    border-radius: 20px;
    box-sizing: border-box;
    position: relative;   /* image ko andar position karne ke liye */
    overflow: hidden;     /* rounded corners ke bahar image na nikle */
    cursor:pointer;       /* Pointer point krega */
    box-shadow: 0 5px 20px rgba(216, 25, 76, 0.804)
}

.box img{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 1;
    transition: all 0.3s ;
}
.box:active{
    scale: 0.9;
}

.box span{
    position: absolute;
    z-index:4;
    padding: 8px 10px;
    margin:10px;
    background: rgba(11, 11, 11, 0.45);
    border-radius: 8px;
    font-weight: 30px;
    font-size: 10px;
    
}
#Fitness span{
    right: 0;
}


.fullbox{
    height: 100%;
    width: 100%;
    padding: 40px;
    padding-top: 120px;
    background-color: rgb(46, 49, 123);
    font-size: 60px;
    color: white;
    display: none;
    
    
}
.back
{
    position: absolute;
    padding: 12px, 12px;
    font-size: 20px;
    right: 10%;
    border-radius: 50%;
    border: none;
    font-weight: 700;
    cursor: pointer;
    background: transparent;
}


