:root{
    --pri:#fff;
    --sec: #e01111;
    --tri: #59c6c1;
}

@font-face {
    font-family: aeonik;
    font-weight: 200;
    src: url(./Aeonik-Light.ttf);
}

@font-face {
    font-family: aeonik;
    font-weight: 500;
    src: url(./Aeonik-Bold.ttf);
}

@font-face {
    font-family: aeonik;
    font-weight: 700;
    src: url(./Aeonik-Regular.ttf);
}



*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: gilory;
}

html,
body{
    height:100%;
    width:100%;
}
h1{
    
    font-family: aeonik;
    font-weight: 500;
    color: var(--pri);
}

h2{
    font-family: aeonik;
    font-weight: 200;
    color: var(--tri);
}


#main{
    height: 100%;
    width:100%;
    background-color: #000000;
}