:root{
    --pri:#647979;
    --sec: #89a6c9;
    --tri1: #db83e3;
    --tri2: #dd8787;
}

@font-face {
    font-family: aeonik;
    font-weight: 200;
    src: url(./Aeonik-Light.ttf);
}

@font-face {
    font-family: aeonik;
    font-weight: 400;
    src: url(./Aeonik-Bold.ttf);
}

@font-face {
    font-family: aeonik;
    font-weight: 700;
    src: url(./Aeonik-Regular.ttf);
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: aeonik;
    
    

}

html,
body{
    height:100%;
    width:100%;
}

#main{
    height: 100%; 
    width:100%;
   
}


section.container{
    height: 100%;
    width: 100%;
    padding: 40px;
    padding-top: 80px;
    padding-left: 20px;
    background-color: var(--pri);
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 30px;
    justify-content: space-between;

}
.box {
    height: 400px;
    width: 330px;
    color: white;
    background-color: var(--tri2);
    margin-top: 40px;
    font-size: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: center; /* horizontally center */
    align-items: flex-start; /* top */
    padding-top: 20px;
    box-sizing: border-box;
}

nav{
    top: 0;
    left: 0;
    position: fixed;
    background-color: #ed0c0c;
    height: 10%;
    width: 100%;
    
    
}
